.App {
	background-color: cornflowerblue;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.counter {
	font-size: 40px;
	font-weight: bold;
}

button {
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

table {
	min-width: 600px;
}

thead {
	background-color: black;
	color: white;
}

tbody {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: gray;
}

tbody tr:nth-child(even) {
	background-color: rgb(172, 167, 167);
}

th, td {
	padding: 5px 0;
}